# List:

In [1]:
# Reverse a list in Python
list1 = [100, 200, 300, 400, 500]
left = 0
right = len(list1) - 1
while left < right:
    list1[left], list1[right] = list1[right], list1[left]
    left += 1
    right -= 1
    
list1

[500, 400, 300, 200, 100]

In [2]:
# Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [(i + j) for i, j in zip(list1, list2)]
        
        
list3

['My', 'name', 'is', 'Kelly']

In [3]:
# Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
square = [i**2 for i in numbers]

square

[1, 4, 9, 16, 25, 36, 49]

In [4]:
# Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

list3 = []
for i in list1:
    for j in list2:
        list3.append(i + j)
        
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [5]:
# Iterate both lists simultaneously
"""Given a two Python list. Write a program to iterate both lists simultaneously and 
display items from list1 in original order and items from list2 in reverse order."""

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i, j in zip(list1, list2[::-1]):
    print(i, j)

10 400
20 300
30 200
40 100

In [6]:
# Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
res

['Mike', 'Emma', 'Kelly', 'Brad']

In [7]:
# Add new item to list after a specified item
# Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [8]:
# Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

# ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [9]:
# Replace list’s item with new value if found
"""Write a program to find value 20 in the list, 
and if it is present, replace it with 200. Only update the first occurrence of an item."""
list1 = [5, 10, 15, 20, 25, 50, 20]

idx = list1.index(20)
list1[idx] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

In [10]:
# Remove all occurrences of a specific item from a list.
# write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i == 20:
        list1.remove(i)
    
list1

[5, 15, 25, 50]

In [11]:
# Convert Lists to List of dictionaries
test_list = ['Gfg', 3, 'is', 8]
key_list = ['name', 'id'] 
n = len(test_list)
res = [{key_list[0]: test_list[idx], key_list[1]: test_list[idx+1]} for idx in range(0, n, 2)]
res

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

In [12]:
# Convert Lists of List to Dictionary 
test_list = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]
res = {tuple(test_list[idx][:2]): tuple(test_list[idx][2:]) for idx in range(len(test_list))}
res

{('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}

In [13]:
# Uncommon elements in Lists of List
test_list1 = [ [1, 2], [3, 4], [5, 6] ]
test_list2 = [ [3, 4], [5, 7], [1, 2] ]
res = []
for i in test_list1:
    if i not in test_list2:
        res.append(i)
for j in test_list2:
    if j not in test_list1:
        res.append(j)
        
res

[[5, 6], [5, 7]]

In [14]:
# Reverse Row sort in Lists of List
test_list = [[4, 1, 6], [7, 8], [4, 10, 8]]
res = [sorted(sublist, reverse=True) for sublist in test_list]
res

[[6, 4, 1], [8, 7], [10, 8, 4]]

In [15]:
# Pair elements with Rear element in Matrix Row
test_list = [[4, 5, 6], [2, 4, 5], [6, 7, 5]]
res = []
for sublist in test_list:
    res.append([[ele, sublist[-1]] for ele in sublist[:-1]])
    
res

[[[4, 6], [5, 6]], [[2, 5], [4, 5]], [[6, 5], [7, 5]]]

In [16]:
# count unique values inside a list
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
unique_lst = []
unique_count = 0
for ele in input_list:
    if ele not in unique_lst:
        unique_lst.append(ele)
        unique_count += 1
        
unique_count

5

In [17]:
# List product excluding duplicates
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
unique_list = []
product = 1
for ele in test_list:
    if ele not in unique_list:
        unique_list.append(ele)
for i in unique_list:
    product *= i
        
product

90

In [18]:
# Extract elements with Frequency greater than K
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3

res = []
for ele in test_list:
    if test_list.count(ele) > k and ele not in res:
        res.append(ele)
        
res

[4, 3]

In [19]:
# Test if List contains elements in Range
test_list = [4, 5, 6, 7, 3, 10]
i, j = 3, 10

res = True
for ele in test_list:
    if ele < i or ele >= j:
        res = False
        break
        
res

False

In [20]:
# check if the list contains three consecutive common numbers 
list1 = [1, 1, 1, 64, 23, 64, 22, 22, 22]
res = []
for i in range(len(list1)-2):
    if list1[i] == list1[i+1] == list1[i+2]:
        res.append(list1[i])
        
res

[1, 22]

In [21]:
# Given an array arr[] of N positive integers. The task is to find the maximum for every adjacent pair in the array.
list1 = [1, 2, 2, 3, 4, 5, 7]
# Output: 2 2 3 4 5

res = []
for i in range(1, len(list1)):
    res.append(max(list1[i], list1[i-1]))
    
res

[2, 2, 3, 4, 5, 7]

In [22]:
# print all Possible Combinations from the three Digits
list1 = [1, 2, 3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if list1[i] != list1[j] and list1[j] != list1[k] and list1[i] != list1[k]:
                print(list1[i], list1[j], list1[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [23]:
# Get all possible subsets of a list’s elements using combinations
test_list = [1,2,3]
res = []
for i in range(len(test_list)):
    res.append([test_list[i]])
    for j in range(i+1, len(test_list)):
        if test_list[i] != test_list[j]:
            res.append([test_list[i], test_list[j]])
        
res.extend([test_list])
res

[[1], [1, 2], [1, 3], [2], [2, 3], [3], [1, 2, 3]]

In [24]:
# Python program to get all unique combinations of two Lists
list1 = ["a", "b", "c","d"]
list2 = [1,4,9]

res = []
for i in range(len(list1)):
    for j in range(len(list2)):
        res.append([list1[i], list2[j]])
        
print(res)

[['a', 1], ['a', 4], ['a', 9], ['b', 1], ['b', 4], ['b', 9], ['c', 1], ['c', 4], ['c', 9], ['d', 1], ['d', 4], ['d', 9]]

In [25]:
# Remove Consecutive K element records
test_list = [(4, 5, 6, 3), (5, 6, 6, 9), (1, 3, 5, 6), (6, 6, 7, 8)]
k = 6

res = [idx for idx in test_list if (k, k) not in zip(idx, idx[1:])]
            
res

[(4, 5, 6, 3), (1, 3, 5, 6)]

In [26]:
# Replace index elements with elements in Other List
test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

res = []
for i in test_list2:
    res.append(test_list1[i])
    
print(res)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

In [27]:
# Retain records with N occurrences of K
test_list = [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]
K = 4
N = 3 

res = []
for t in test_list:
    if t.count(K) == N:
        res.append(t)
        
res

[(4, 5, 6, 4, 4), (4, 4, 4)]

In [28]:
# Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

res1 = sorted(array, key=lambda x: x[0])
res2 = sorted(array, key=lambda x: x[1])
res3 = sorted(array, key=lambda x: x[2])

res1, res2, res3

([[1, 3, 3], [2, 1, 2], [3, 2, 1]],
 [[2, 1, 2], [3, 2, 1], [1, 3, 3]],
 [[3, 2, 1], [2, 1, 2], [1, 3, 3]])

In [29]:
# Reverse All Strings in String List
test_list = ["geeks", "for", "geeks", "is", "best"]
res = []
for s in test_list:
    res.append(s[::-1])
    
res

['skeeg', 'rof', 'skeeg', 'si', 'tseb']

In [30]:
# find the character position of Kth word from a list of strings
test_list = ['geekforgeeks', 'is', 'best', 'for', 'geeks']
K = 20

idx = 0
for word in test_list:
    if idx + len(word) > K:
        print(K - idx)
        break
    else:
        idx += len(word)

2

In [31]:
# Extract words starting with K in String List
test_list = ['Gfg is good for learning', 'Gfg is for geeks', 'I love G4G']
K = 'g' 

res = []
for s in test_list:
    lst = s.split()
    for word in lst:
        if word[0].lower() == K.lower():
            res.append(word)
            
res

['Gfg', 'good', 'Gfg', 'geeks', 'G4G']

In [32]:
# Prefix frequency in string List
test_list = ['gfgisbest', 'geeks', 'gfgfreak', 'gfgCS', 'Gcourses']
test_sub = 'gfg'

res = []
for word in test_list:
    if word.startswith(test_sub):
        res.append(word)

print(res)
print(len(res))

['gfgisbest', 'gfgfreak', 'gfgCS']
3

In [33]:
# Replace all Characters of a List Except the given character
test_list = ['G', 'F', 'G', 'I', 'S', 'B', 'E', 'S', 'T']
repl_chr = '$'
ret_chr = 'G'

res = [char if char == ret_chr else repl_chr for char in test_list]
res

['G', '$', 'G', '$', '$', '$', '$', '$', '$']

In [34]:
# Remove words containing list characters
test_list = ['gfg', 'is', 'best', 'for', 'geeks']
char_list = ['g', 'o']

'res = [word for word in test_list if all(char not in word for char in char_list)]'

res = []
flag = 0
for word in test_list:
    for char in char_list:
        if char not in word:
            flag = 1
        else:
            flag = 0
            break
            
    if flag == 1:
        res.append(word)
        
res

['is', 'best']

In [35]:
# remove multiple empty spaces from string List
test_list = ["Mike", "", "Emma", "Kelly", "", "Brad"]

res = [ele for ele in test_list if ele.strip()]
res

['Mike', 'Emma', 'Kelly', 'Brad']

In [36]:
# Add Space between Potential Words
import re
test_list = ['ComputerScienceStudentsLoveGfg'] 

res = [re.sub(r'(\w)([A-Z])', r'\1 \2', ele) for ele in test_list]
res

['Computer Science Students Love Gfg']

In [37]:
# Filter the List of String whose index in second List contains the given Substring
test_list1 = ["Gfg", "is", "not", "best", "and","not", "for", "CS"]
test_list2 = ["Its ok", "all ok", "wrong", "looks ok","ok", "wrong", "ok", "thats ok"]
sub_str = "ok"

res = []
for s in range(len(test_list2)):
    if sub_str in test_list2[s]:
        res.append(test_list1[s])
        
res

['Gfg', 'is', 'best', 'and', 'for', 'CS']

In [38]:
# Convert Character Matrix to single String
test_list = [['g', 'f', 'g'], ['i', 's'], ['b', 'e', 's', 't']]

"""res = []
for lst in test_list:
    res.append("".join(lst))
    
print("".join(res))"""

res = "".join([ele for lst in test_list for ele in lst])
res

'gfgisbest'

In [39]:
# Replace Substrings from String List
test_list1 = ['GeeksforGeeks', 'is', 'Best', 'For', 'Geeks', 'And', 'Computer Science']
test_list2 = [['Geeks', 'Gks'], ['And', '&'], ['Computer', 'Comp']]

for lst in test_list2:
    test_list1 = [re.sub(lst[0], lst[1], ele) for ele in test_list1]
        
test_list1

['GksforGks', 'is', 'Best', 'For', 'Gks', '&', 'Comp Science']

In [40]:
# Remove Redundant Substrings from Strings List
test_list = ["Gfg", "Gfg is best", "Geeks", "for", "Gfg is for Geeks"]

test_list.sort(key=len)
res = [val for idx, val in enumerate(test_list) if val not in ",".join(test_list[idx+1:])]
res

['Gfg is best', 'Gfg is for Geeks']

In [41]:
# Find binary numbers divisible by 5
lst = ['0100', '0011', '1010', '1001', '1100', '1011', '0101']
b_nums = []
for num in lst:
    x = int(num, 2)
    if x % 5 == 0:
        b_nums.append(num)
        
b_nums

['1010', '0101']

In [42]:
# Find the second highest ele in the list
lst = [12, 45, 2, 41, 31, 10, 8, 6]
second_max = max(lst, key=lambda x: float('-inf') if x == max(lst) else x)
second_max

41

# Tuple

In [43]:
# find tuples which have all elements divisible by K from a list of tuples
test_list = [(6, 24, 12), (7, 9, 6), (12, 18, 21)]
K = 6

res = [sub for sub in test_list if all(ele % K == 0 for ele in sub)]
res

[(6, 24, 12)]

In [44]:
# find Tuples with positive elements in List of tuples
test_list = [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)] 

res = [sub for sub in test_list if all(ele > 0 for ele in sub)]
res

[(4, 5, 9), (4, 6)]

In [45]:
# Count tuples occurrence in list of tuples
Input = [[('hi', 'bye')], [('Geeks', 'forGeeks')], [('a', 'b')], [('hi', 'bye')], [('a', 'b')]]

from collections import defaultdict
output = defaultdict(int)
for ele in Input:
    output[ele[0]] += 1
    
output

defaultdict(int, {('hi', 'bye'): 2, ('Geeks', 'forGeeks'): 1, ('a', 'b'): 2})

In [46]:
# Removing duplicates from tuple
test_tup = (1, 3, 5, 2, 3, 5, 1, 1, 3)

res = tuple(set(test_tup))
res

(1, 2, 3, 5)

In [47]:
# Remove duplicate lists in tuples (Preserving Order)
test_tup = ([4, 7, 8], [1, 2, 3], [4, 7, 8], [4, 7, 8], [1, 2, 3])

res = []
for sub in test_tup:
    if sub not in res:
        res.append(sub)
        
print(tuple(res))

([4, 7, 8], [1, 2, 3])

In [48]:
# Extract digits from Tuple list
test_list = [(15, 3), (3, 9), (1, 10), (99, 2)]

"""x = ''
for ele in test_list:
    for i in ele:
        x += str(i)
        
res = list(map(int, set(x)))"""

temp = re.sub(r'[\[\]\(\), ]', '', str(test_list))
res = [int(ele) for ele in set(temp)]
res

[2, 3, 1, 5, 9, 0]

In [49]:
# Cross Pairing in Tuple List
test_list1 = [(1, 7), (6, 7), (9, 100), (2, 21)]
test_list2 = [(1, 3), (2, 1), (9, 7), (2, 17)]

res = [(sub1[1], sub2[1]) for sub2 in test_list2 for sub1 in test_list1 if sub1[0] == sub2[0]]
res

[(7, 3), (21, 1), (100, 7), (21, 17)]

In [50]:
# Kth Column Product in Tuple List
test_list = [(5, 6, 7), (1, 3, 5), (8, 9, 1)]
K = 2

prod = 1
for ele in test_list:
    prod *= ele[K]
    
prod

35

In [51]:
# Flatten tuple of List to tuple
test_tuple = ([5, 6, 10], [6, 7, 8, 9], [3])

res = tuple([(ele) for sub in test_tuple for ele in sub])
res

(5, 6, 10, 6, 7, 8, 9, 3)

In [52]:
# Flatten Tuples List to String
test_list = [('1', '4', '6'), ('5', '8'), ('2', '9'), ('1', '10')]

res = "".join([ele for sub in test_list for ele in sub])
res

'1465829110'

In [53]:
# Combinations of sum with tuples in tuple list
test_list = [(2, 4), (6, 7), (5, 1), (6, 10)]
 
from itertools import combinations
res = [(a1 + b1, a2 + b2) for (a1, a2), (b1, b2) in combinations(test_list, 2)]
res

[(8, 11), (7, 5), (8, 14), (11, 8), (12, 17), (11, 11)]

In [54]:
# Custom sorting in list of tuples based on 1st ele of each tuple
test_list = [(7, 8), (5, 6), (7, 5), (10, 4), (10, 1)]

res = sorted(test_list, key=lambda x: (-x[0], x[1]))
res

[(10, 1), (10, 4), (7, 5), (7, 8), (5, 6)]

In [55]:
# convert tuple into list by adding the given string after every element
test_tup = (5, 6, 7, 4, 9)
K = "Gfg" 

res = [ele for sub in test_tup for ele in (sub, K)]
res

[5, 'Gfg', 6, 'Gfg', 7, 'Gfg', 4, 'Gfg', 9, 'Gfg']

In [56]:
# Convert Tuple Matrix to Tuple List
test_list = [[(4, 5), (7, 8)], [(10, 13), (18, 17)], [(0, 4), (10, 1)]]

temp = [ele for sub in test_list for ele in sub]
res = list(zip(*temp))
res

[(4, 7, 10, 18, 0, 10), (5, 8, 13, 17, 4, 1)]

In [57]:
# Convert Tuple to Tuple Pair
test_tuple = (1, 2, 3, 4)

res = tuple(zip(test_tuple[:-1], test_tuple[1:]))
res

((1, 2), (2, 3), (3, 4))

In [58]:
# Convert List of Lists to Tuple of Tuples
test_list = [['Gfg', 'is', 'Best'], ['Gfg', 'is', 'love'], ['Gfg', 'is', 'for', 'Geeks']]

res = tuple([tuple(sub) for sub in test_list])
res

(('Gfg', 'is', 'Best'), ('Gfg', 'is', 'love'), ('Gfg', 'is', 'for', 'Geeks'))

In [59]:
# Convert Matrix to Custom Tuple Matrix
test_list = [[4, 5, 6], [6, 7, 3], [1, 3, 4]]
add_list = ['Gfg', 'is', 'best']
# ouput = [('Gfg', 4), ('Gfg', 5), ('Gfg', 6), ('is', 6), ('is', 7), ('is', 3), ('best', 1), ('best', 3), ('best', 4)]

res = [tuple((s, ele)) for s, sub in zip(add_list, test_list) for ele in sub]
print(res)

[('Gfg', 4), ('Gfg', 5), ('Gfg', 6), ('is', 6), ('is', 7), ('is', 3), ('best', 1), ('best', 3), ('best', 4)]

In [60]:
# Convert Nested Tuple to Custom Key Dictionary
test_tuple = ((4, 'Gfg', 10), (3, 'is', 8), (6, 'Best', 10)) 
# output = [{'key': 4, 'value': 'Gfg', 'id': 10}, {'key': 3, 'value': 'is', 'id': 8}, {'key': 6, 'value': 'Best', 'id': 10}]

res = [{'key': sub[0], 'value': sub[1], 'id': sub[2]} for sub in test_tuple]
res

[{'key': 4, 'value': 'Gfg', 'id': 10},
 {'key': 3, 'value': 'is', 'id': 8},
 {'key': 6, 'value': 'Best', 'id': 10}]

In [61]:
# Convert tuple to float value
test_tup = (4, 56) 

res = float(".".join([str(ele) for ele in test_tup]))
res

4.56

In [62]:
# Extract tuples having K digit elements
test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78, )]
K = 2

res = [sub for sub in test_list if all(len(str(ele)) == K for ele in sub)]
res

[(34, 55), (12, 45), (78,)]

In [63]:
# Extract Symmetric Tuples
test_list = [(6, 7), (2, 3), (7, 6), (9, 8), (10, 2), (8, 9)]

temp = set(test_list) & {(b, a) for a, b in test_list}
res = {(a, b) for a, b in temp if a < b}
res

{(6, 7), (8, 9)}

In [64]:
# Sort Tuples by their Maximum element
test_list = [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]

test_list.sort(key=lambda x: max(x), reverse=True)
test_list

[(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

In [65]:
# Remove nested records from tuple
test_tup = (1, 5, 7, (4, 6), 10)

'res = tuple(filter(lambda x: not isinstance(x, tuple), test_tup))'

res = []
for ele in test_tup:
    if not type(ele) is tuple:
        res.append(ele)
        
print(tuple(res))

(1, 5, 7, 10)

In [66]:
# Elements Frequency in Mixed Nested Tuple
test_tuple = (5, 6, (5, 6), 7, (8, 9), 9)

def flatten(t):
    res = []
    for ele in test_tuple:
        if not type(ele) is tuple:
            res.append(ele)
        else:
            for i in ele:
                res.append(i)
    return tuple(res)

from collections import Counter
res = dict(Counter(flatten(test_tuple)))
res

{5: 2, 6: 2, 7: 1, 8: 1, 9: 2}

In [67]:
# unique elements in list of tuple
test_list = [(3, 4, 5), (4, 5, 7), (1, 4)]

res = []
for ele in test_list:
    for i in ele:
        if i not in res:
            res.append(i)
            
res

[3, 4, 5, 7, 1]

In [68]:
# Concatenate tuples to nested tuples
test_tup1 = (3, 4)
test_tup2 = (5, 6)

'res = tuple((test_tup1, test_tup2))'

res = (test_tup1,) + (test_tup2,)
res

((3, 4), (5, 6))

In [69]:
# Sort by Frequency of second element in Tuple List
test_list = [(6, 5), (2, 7), (2, 5), (8, 7), (9, 8), (3, 7)]

freq = defaultdict(int)
for idx, val in test_list:
        freq[val] += 1
    
res = sorted(test_list, key=lambda x: freq[x[1]], reverse=True)
res

[(2, 7), (8, 7), (3, 7), (6, 5), (2, 5), (9, 8)]

In [70]:
# Sort lists in tuple
test_tup = ([7, 5, 4], [8, 2, 4], [0, 7, 5])

res = tuple([sorted(sub) for sub in test_tup])
res

([4, 5, 7], [2, 4, 8], [0, 5, 7])

In [71]:
# Order Tuples by List
test_list = [('Gfg', 3), ('best', 9), ('CS', 10), ('Geeks', 2)]
ord_list = ['Geeks', 'best', 'CS', 'Gfg']

d = dict(test_list)
res = [(key, d[key]) for key in ord_list]
res

[('Geeks', 2), ('best', 9), ('CS', 10), ('Gfg', 3)]

In [72]:
# Filter Tuples by Kth element from CheckList
test_list = [("GFg", 5, 9), ("is", 4, 3), ("best", 10, 29)]
check_list = [4, 2, 8, 10]
K = 1

res = [sub for sub in test_list if sub[K] in check_list]
res

[('is', 4, 3), ('best', 10, 29)]

In [73]:
# Tuple List intersection
test_list1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
test_list2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

res = set([tuple(sorted(ele)) for ele in test_list1]) & set([tuple(sorted(ele)) for ele in test_list2])
res

{(3, 4), (4, 5), (5, 6)}

In [74]:
# Unique Tuple Frequency 
test_list = [(3, 4), (1, 2), (4, 3), (3, 4)]

"""
freq = 0
res = []
for ele in test_list:
    s = sorted(ele)
    if s not in res:
        res.append(s)
        freq += 1"""
        
res = len(set([tuple(sorted(sub)) for sub in test_list]))
res

2

In [75]:
# Skew Nested Tuple Summation
test_tup = (5, (6, (1, (9, (10, None)))))

res = 0
while test_tup:
    res += test_tup[0]
    test_tup = test_tup[1]
    
res

31

In [76]:
# Convert Binary tuple to Integer
test_tup = (1, 1, 0, 1, 0, 0, 1)

res = int("".join([str(ele) for ele in test_tup]), 2)
res

105

In [77]:
# Tuple XOR operation
test_tup1 = (10, 4, 6, 9) 
test_tup2 = (5, 2, 3, 3) 

res = tuple([ele1 ^ ele2 for ele1, ele2 in zip(test_tup1, test_tup2)])
res

(15, 6, 5, 10)

In [78]:
# AND operation between Tuples
test_tup1 = (10, 4, 6, 9) 
test_tup2 = (5, 2, 3, 3)

res = tuple([ele1 & ele2 for ele1, ele2 in zip(test_tup1, test_tup2)])
res

(0, 0, 2, 1)

In [79]:
# Remove Tuples of Length K
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
K = 1

res = [sub for sub in test_list if len(sub) != K]
res

[(4, 5), (8, 6, 7), (3, 4, 6, 7)]

In [80]:
# Assign Frequency to Tuples
test_list = [(6, 5, 8), (2, 7), (6, 5, 8), (6, 5, 8), (9, ), (2, 7)]

res = [(*key, val) for key, val in Counter(test_list).items()]
res

[(6, 5, 8, 3), (2, 7, 2), (9, 1)]

In [81]:
# Join Tuples if similar initial element
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 

temp = defaultdict(list)
for key, val in test_list:
    temp[key].append(val)
    
res = [(key, *val) for key, val in temp.items()]
res

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [82]:
# Remove Tuples from the List having every element as None
test_list = [(None, 2), (None, None), (3, 4), (12, 3), (None, )]

res = [sub for sub in test_list if not all(ele == None for ele in sub)]
res

[(None, 2), (3, 4), (12, 3)]

# Dictionaries

In [83]:
# Sort Python Dictionaries by Key or Value
mydict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

mykeys = list(mydict.keys())
temp = sorted(mykeys)
res = {i: mydict[i] for i in temp}
res

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [84]:
# Handling missing keys in Python dictionaries
d = { 'a' : 1 , 'b' : 2 }
print(d.setdefault('a', 'Not Found'))
print(d.setdefault('c', 'Not Found'))

1
Not Found

In [85]:
# find the sum of all items in a dictionary
d = {'a': 100, 'b': 200, 'c': 300}

res = sum(d.values())
res

600

In [86]:
# Ways to sort list of dictionaries by values 
list1 = [{"name": "Nandini", "age": 21}, {"name": "Manjeet", "age": 20}, {"name": "Nikhil", "age": 19}]

from operator import itemgetter
res = sorted(list1, key=itemgetter('age'))
print(res)

print()

res2 = sorted(list1, key=lambda x: x['age'])
print(res2)

[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 21}]

[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 21}]

In [87]:
# Merging two Dictionaries
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4, 'e': 5}

'dict1.update(dict2)'

'res = {**dict1, **dict2}'

res = dict1 | dict2
res

{'a': 10, 'b': 8, 'd': 6, 'c': 4, 'e': 5}

In [88]:
# Insertion at the beginning in OrderedDict, item to be inserted ('c', 3)
original_dict = {'a':1, 'b':2}

from collections import OrderedDict
res = OrderedDict([('a', 1), ('b', 2)])
res.update(c=3)
res.move_to_end('c', last=False)
res

OrderedDict([('c', 3), ('a', 1), ('b', 2)])

In [89]:
# Find common elements in three sorted arrays by dictionary intersection
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

res = set(ar1) & set(ar2) & set(ar3)
res

{20, 80}

In [90]:
# Key with maximum unique values
test_dict = {"Gfg" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]} 

res = sorted(test_dict, key=lambda x: len(set(test_dict[x])), reverse=True)[0]
res

'Best'

In [91]:
# Find all duplicate characters in string
s = "geeksforgeeks"
res = Counter(s)
for ele, count in res.items():
    if count > 1:
        print(ele, end=' ')

g e k s

In [92]:
# Group Similar items to Dictionary Values List
test_list = [4, 6, 6, 4, 2, 2, 4, 8, 5, 8] 

from collections import defaultdict
res = defaultdict(list)
for ele in test_list:
    res[ele].append(ele)
    
res

defaultdict(list, {4: [4, 4, 4], 6: [6, 6], 2: [2, 2], 8: [8, 8], 5: [5]})

In [93]:
# Replace words from Dictionary
test_str = 'geekforgeeks best for geeks'
repl_dict = {"best" : "good and better", "geeks" : "all CS aspirants"} 

res = " ".join([repl_dict.get(ele, ele) for ele in test_str.split()])
res

'geekforgeeks good and better for all CS aspirants'

In [94]:
# Remove Dictionary Key Words
test_str = 'gfg is best for geeks'
test_dict = {'geeks': 1, 'best': 6}

res = " ".join([word for word in test_str.split() if word.lower() not in test_dict])
res

'gfg is for'

In [95]:
# Remove all duplicates words from a given sentence
input1 = 'Python is great and Java is also great'

res = " ".join(dict.fromkeys(input1.split()))
res

'Python is great and Java also'

In [96]:
# Extract values of Particular Key in Nested dict
test_dict = {'Gfg' : {"a" : 7, "b" : 9, "c" : 12}, 'is' : {"a" : 15, "b" : 19, "c" : 20}, 'best' :{"a" : 5, "b" : 10, "c" : 2}}
temp = "c"

res = [val[temp] for key, val in test_dict.items() if temp in val]
res

[12, 20, 2]

In [97]:
# Convert Key-Value list Dictionary to List of Lists
test_dict = {'gfg': [1, 3, 4], 'is': [7, 6], 'best': [4, 5]}

res = [[key] + val for key, val in test_dict.items()]
res

[['gfg', 1, 3, 4], ['is', 7, 6], ['best', 4, 5]]

In [98]:
# Convert List to List of dictionaries
test_list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]

key_list = ['name', 'number']
res = [{key_list[0]: test_list[idx], key_list[1]: test_list[idx+1]} for idx in range(0, len(test_list), 2)]
print(res)

[{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

In [99]:
# Convert Lists of List to Dictionary
test_list = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]

res = {tuple(sub[:2]): tuple(sub[2:]) for sub in test_list}
res

{('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}

In [100]:
# Convert List of Dictionaries to List of Lists
test_list = [{'Nikhil' : 17, 'Akash' : 18, 'Akshat' : 20}, {'Nikhil' : 21, 'Akash' : 30, 'Akshat' : 10}, {'Nikhil' : 31, 'Akash' : 12, 'Akshat' : 19}]

res = [[key for key in test_list[0].keys()], *[list(idx.values()) for idx in test_list]]
res

[['Nikhil', 'Akash', 'Akshat'], [17, 18, 20], [21, 30, 10], [31, 12, 19]]

In [101]:
# Convert key-values list to flat dictionary
test_dict = {'month' : [1, 2, 3], 'name' : ['Jan', 'Feb', 'March']}

res = dict(zip(test_dict['month'], test_dict['name']))
res

{1: 'Jan', 2: 'Feb', 3: 'March'}

In [102]:
# Convert a list of Tuples into Dictionary
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

res = {ele[i]: [ele[i+1]] for ele in tups for i in range(len(ele)-1)}
print(res)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [103]:
# Convert Nested dictionary to Mapped Tuple
test_dict = {'gfg' : {'x' : 5, 'y' : 6}, 'is' : {'x' : 1, 'y' : 4}, 'best' : {'x' : 8, 'y' : 3}}

res = [(key, tuple(sub[key] for sub in test_dict.values())) for key in test_dict['gfg']]
res

[('x', (5, 1, 8)), ('y', (6, 4, 3))]

In [104]:
# convert string to dictionary
str1 = "Jan = January; Feb = February; Mar = March"

res = dict(substr.split('=') for substr in str1.split(';'))
res

{'Jan ': ' January', ' Feb ': ' February', ' Mar ': ' March'}

In [105]:
# Convert dictionary to K sized dictionaries
test_dict = {'Gfg' : 1, 'is' : 2, 'best' : 3, 'for' : 4, 'geeks' : 5, 'CS' : 6}
K = 2

res = [dict(list(test_dict.items())[i: i+K]) for i in range(0, len(test_dict), K)]
res

[{'Gfg': 1, 'is': 2}, {'best': 3, 'for': 4}, {'geeks': 5, 'CS': 6}]

In [106]:
# Convert Matrix to dictionary
test_list = [[5, 6, 7], [8, 3, 2], [8, 2, 1]] 

res = {idx+1: test_list[idx] for idx in range(len(test_list))}
res

{1: [5, 6, 7], 2: [8, 3, 2], 3: [8, 2, 1]}

In [107]:
# Create Nested Dictionary using given List
test_dict = {'Gfg' : 4, 'is' : 5, 'best' : 9} 
test_list = [8, 3, 2] # keys

res = {}
for key, ele in zip(test_list, test_dict.items()):
    res[key] = dict([ele])
    
res

{8: {'Gfg': 4}, 3: {'is': 5}, 2: {'best': 9}}

In [108]:
# Reverse Dictionary Keys Order
test_dict = {'gfg' : 4, 'is' : 2, 'best' : 5}

res = dict(reversed(test_dict.items()))
res

{'best': 5, 'is': 2, 'gfg': 4}

In [109]:
#  Remove keys with Values Greater than K
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K = 6

res = {key: val for key, val in test_dict.items() if not (isinstance(val, int) and val > K)}
res

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

In [110]:
# Remove keys with substring values
test_dict = {1 : 'Gfg is best for geeks', 2 : 'Gfg is good', 3 : 'I love Gfg'}
sub_list = ['love', 'good']

res = {key: val for key, val in test_dict.items() if not any(ele in val for ele in sub_list)}
res

{1: 'Gfg is best for geeks'}

In [111]:
#  Extract Unique values from dictionary values
test_dict = {'gfg': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best': [6, 12, 10, 8], 'for': [1, 2, 5]}

res = list(sorted({ele for val in test_dict.values() for ele in val}))
res

[1, 2, 5, 6, 7, 8, 10, 11, 12]

In [112]:
# Sort Dictionary key and values List
test_dict = {'gfg': [7, 6, 3], 'is': [2, 10, 3], 'best': [19, 4]}

res = {key : sorted(test_dict[key]) for key in sorted(test_dict)}
res

{'best': [4, 19], 'gfg': [3, 6, 7], 'is': [2, 3, 10]}

In [113]:
# Sort Dictionary by Values Summation
test_dict = {'Gfg' : [6, 7, 4], 'is' : [4, 3, 2], 'best' : [7, 6, 5]} 

temp = {key : sum(map(lambda x: x, test_dict[key])) for key in test_dict}
res = {key: temp[key] for key in sorted(temp, key=lambda x: temp[x])}
res

{'is': 9, 'Gfg': 17, 'best': 18}

In [114]:
# Sort Nested keys by Value
test_dict = {'Nikhil' : {'English' : 5, 'Maths' :  2, 'Science' : 14}, 'Akash' : {'English' : 15, 'Maths' :  7, 'Science' : 2},
             'Akshat' : {'English' : 5, 'Maths' :  50, 'Science' : 20}}

res = {key: dict(sorted(val.items(), key=lambda x: x[1])) for key, val in test_dict.items()}
print(res)

{'Nikhil': {'Maths': 2, 'English': 5, 'Science': 14}, 'Akash': {'Science': 2, 'Maths': 7, 'English': 15}, 'Akshat': {'English': 5, 'Science': 20, 'Maths': 50}}

In [115]:
# Clean the data
drug_company_data = {
    'Lipitor': '@Pfizer',
    'Adv^&*il': 'Pfizer',
    'Crestor': 'AstraZeneca',
    'T&*(ylenol': 'Johnson and Johnson',
    '$Nexium': 'Astra@Zeneca',
    'Xa&nax': 'Pfizer',
    'Zoloft': '#Pfizer',
    'Celebrex': 'Pfizer',
    'Prozac': 'Eli L^^illy'
}

cleaned_data = {re.sub(r'[^A-Za-z0-9]', '', k): re.sub(r'[^A-Za-z0-9]', '', v) for k, v in drug_company_data.items()}
cleaned_data

{'Lipitor': 'Pfizer',
 'Advil': 'Pfizer',
 'Crestor': 'AstraZeneca',
 'Tylenol': 'JohnsonandJohnson',
 'Nexium': 'AstraZeneca',
 'Xanax': 'Pfizer',
 'Zoloft': 'Pfizer',
 'Celebrex': 'Pfizer',
 'Prozac': 'EliLilly'}

# Strings

In [116]:
# Reverse words in a given string
s = 'i love programming very much'

temp = list(s.split())
res = " ".join(temp[::-1])
res

'much very programming love i'

In [117]:
# Longest Common Prefix
s = ['apple', 'ape', 'april']

def prefix(arr):
    result = arr[0]
    length = len(result)
    
    for i in range(1, len(arr)):
        while arr[i].find(result) != 0:
            result = result[:length]
            length -= 1
            
        if not result:
            return "-1"
        
    return result

prefix(s)

'ap'

In [118]:
# Converting Roman Numerals to Integer
s = "MCMIV"

def value(roman: str):
    if roman == 'I':
        return 1
    if roman == 'V':
        return 5
    if roman == 'X':
        return 10
    if roman == 'L':
        return 50
    if roman == 'C':
        return 100
    if roman == 'D':
        return 500
    if roman == 'M':
        return 1000
    return -1

def romantoint(string):
    res = 0
    i = 0
    while i < len(string):
        s1 = value(str(string[i]))
        
        if i+1 < len(string):
            s2 = value(str(string[i+1]))
            
            if s1 >= s2:
                res = res + s1
                i = i+1
            else:
                res = res + s2 - s1
                i = i+2
                
        else:
            res = res + s1
            i = i+1
            
    return res

romantoint(s)

1904

In [119]:
# Converting int to roman
ls = [1000,900,500,400,100,90,50,40,10,9,5,4,1]
d = {1:"I",4:"IV",5:"V",9:"IX",10:"X",40:"XL",50:"L",90:"XC",100:"C",400:"CD",500:"D",900:"CM",1000:"M"}
ls2 = []

def inttoroman(number: int, res: str):
    for i in range(len(ls)):
        if number in ls:
            res = d[number]
            remender = 0
            break
        
        if ls[i] < number:
            quo = number // ls[i]
            remender = number % ls[i]
            res = res + d[ls[i]]*quo
            break
            
    ls2.append(res)
    if remender == 0:
        pass
    else:
        inttoroman(remender, '')
        
    return "".join(ls2)
        
inttoroman(1904, '')

'MCMIV'

In [120]:
# Find the minimum distance between the given two words
S = [ "the", "quick", "brown", "fox", "quick" ]
word1 = "the"
word2 = "fox"

def shortestdist(lst, w1, w2):
    d1 = -1
    d2 = -1
    ans = 10000000000
    
    for i in range(len(lst)):
        if lst[i] == w1:
            d1 = i
        if lst[i] == w2:
            d2 = i
        if d1 != -1 and d2 != -1:
            ans = min(ans, abs(d1 - d2))
            
    return ans

shortestdist(S, word1, word2)

3

In [121]:
# Check if the str is palindrome
s = 'abcddcba'

def palindrome(string):
    string = string.lower()
    left = 0
    right = len(string) - 1
    while left < right:
        if string[left] == string[right]:
            return True
        left += 1
        right -= 1
    return False

palindrome(s)

True

In [122]:
# Smallest no > num which is palindrome
def ispalindrome(n):
    return str(n) == str(n)[::-1]
def next_palindrome(N):
    N += 1
    while not ispalindrome(N):
        N += 1
        
    return N

next_palindrome(123)

131

In [123]:
# Input : my name is Rick

# Output : ricK iS nameE mY

def transform_str(s):
    s = s.lower()
    words = s.split()
    reversed_words = words[::-1]

    def transform_word(word):
        if len(word) > 1:
            return word[:-1] + word[-1].upper()
        return word

    transformed_words = [transform_word(word) for word in reversed_words]

    result =  " ".join(transformed_words)

    return result

transform_str('my name is Rick Grimes')

'grimeS ricK iS namE mY'

In [124]:
# replace a substring of a string
def modifyingstr(S, s1, s2):
    ans = ''
    i = 0
    while i < len(S):
        k = 0
        if S[i] == s1[k] and i + len(s1) <= len(S):
            j = i
            
            while j < i + len(s1) and S[j] == s1[k]:
                k += 1
                j += 1
            
            if j == i + len(s1):
                ans += s2
                i = j-1
            else:
                ans += S[i]
                i += 1
            
        else:
            ans += S[i]
        i += 1
            
    return ans

S = "geeksforgeeks"
s1 = "eek"
s2 = "ok"
modifyingstr(S, s1, s2)

'goksforgoks'

In [125]:
# Longest prefix which is also suffix
def longestsuffpref(S):
    n = len(S)
    if n < 2:
        return 0
    len_suff_pref = 0
    i = 0
    
    while i < n // 2:
        j1 = 0
        j2 = (n-1) - i
        is_suffix_prefix = True
        
        while j1 <= i:
            if S[j1] != S[j2]:
                is_suffix_prefix = False
            j1 += 1
            j2 += 1
            
        if is_suffix_prefix:
            len_suff_pref = i+1
        i+= 1
        
    return len_suff_pref

S = "aabcdaabc"
longestsuffpref(S)

4

In [126]:
# Length of the longest valid substring
def validsubstr(S):
    n = len(S)
    stack = []
    result = 0
    last = n
    for i in range(n):
        if S[i] == '(':
            stack.append(i)
        else:
            if stack and S[stack[-1]] == '(':
                stack.pop()
            else:
                stack.append(i)
                
    while stack:
        now = stack.pop()
        result = max(result, last-now-1)
        last = now
        
    return max(result, last)

S = "()(()))))"
validsubstr(S)

6